
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#event_card{
    width: 30%;
    margin: 1rem;
    background-color: #FFFF99;
    font-family: cursive;
}

#card-section{
width: 80vw;
/* background-color: aqua; */
}

#add-form-section{
    width: 20vw;
    /* background-color:red; */
    padding: 10px;
}
.dashboardPage{
    background-color: #333;
}
#dashboard{
    display: flex;
    flex-direction: row;
}
#card_list{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
}

.card_buttons_list{
    /* background-color:azure; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 10%;
}
#card_button{
    width: 40%;
    font-weight: bolder;
}

.scrollable{
    height: 500px;
    overflow: scroll;
}

header{
    width: 100%;
    background-color: #333;
    font-family: cursive;
    height: 10vh;
    display: flex;
}
 .logo-container{
    width: 50%;
    /* background-color: aquamarine;  */
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-container a{
    text-decoration: none;
    color: white;
}
.logo-container a:hover{
    color: red;
}
.Logo{
    font-size: 2rem;
}
nav{
    width: 50%;
    /* background-color: tomato;; */
    /* display: flex; */
    /* justify-content: end; */
}
nav ul{
    height: 100%;
    /* width: 50%; */
    /* background-color: aquamarine; */
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a{
    text-decoration: none;
    font-size: 2rem;
   color: white;
}
nav a:hover{
    color: red;
}

.registerPage{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../public/people.jpg)no-repeat center center/ cover;;
    background-color: #333;
}
.loginPage{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../public/people.jpg)no-repeat center center/ cover;;
    background-color: #333;
}

#myFooter{
    height:10vh;
    text-align: center;
    background-color:#333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:1000px) {
    header{
        height: auto;
        flex-direction: column;
    }
    .logo-container{
        width: 100%;
    }
    nav{
        width: 100%;
    }
    nav ul{
        flex-direction: column;
    }
    #dashboard{
        flex-direction: column;
    }
    #add-form-section{
        width: 100%;
    }
    #card-section{
        width: 100%;
    }
    #card_list{
        flex-direction: column;
    }
    #event_card{
        width: 80%;
    }
}